body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #957DAD, #D1C4E9); /* Gradiente de lavanda */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5D3B9E;
    padding: 10px 20px;
    color: white;
}

.logo {
    height: 100px;
    width: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #BFA2DB;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 500px;
    margin: 40px auto auto auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #957DAD;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5D3B9E;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #5D3B9E;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 500px;
    margin: 40px auto auto auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 0;
}

.input-group input[type="tel"],
.input-group input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* ************************************* padronização da página chat ****************************************** */

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, lavender, lightblue);
}

.messages {
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 10px;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
}

.received {
    background-color: lavender;
    align-self: flex-start;
}

.sent {
    background-color: lightblue;
    align-self: flex-end;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}

.input-container input{
    margin-top: 20px;
}

select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}

.send-button {
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.send-button:hover {
    background-color: skyblue;
}